<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-light">
            <div>
                Movies
            </div>
            <div class="form-check" *ngFor="let film of films, let i = index">
                <input class="form-check-input" type="checkbox" value="{{ film.title }}" id="filmCheckbox">
                <label class="form-check-label" for="filmCheckbox">
                    {{ film.title }}
                </label>
            </div>
            <div class="mt-2">
                Species
            </div>
            <div class="form-check" *ngFor="let speciesName of species, let i = index">
                <input class="form-check-input" type="checkbox" value="{{ speciesName.name }}" id="speciesCheckbox">
                <label class="form-check-label" for="speciesCheckbox">
                    {{ speciesName.name }}
                </label>
            </div>
        </div>
        <div class="col-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 mb-5 mt-2" *ngFor="let character of characters, let i = index">
                        <div class="card m-0 onclick-card p-4" (click)="openCharacterInfo(characterInfoModal, i, $event)">
                            <div class="card-body m-xl-0">
                                <div class="text-center">
                                    {{ character.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-between">
                        <button type="button" class="btn btn-dark col-2 btn-sm"
                            (click)="prevoiusPage()">Previous</button>
                        <button type="button" class="btn btn-dark col-2 btn-sm" (click)="nextPage()">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #characterInfoModal class="d-flex justify-content-center" style="width: 100%;">
    <app-character-info #characterInfo characterDataById="{{ id }}" (cancel)="closeModal()"></app-character-info>
</ng-template>