<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
        aria-label="Toggle navigation" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="main">Home</a>
              </li>
            <li class="nav-item mx-1" ngbDropdown>
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown5" role="button">
                    Routing Example
                </a>
                <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
                    <a ngbDropdownItem routerLink="simple-page-1" routerLinkActive="active">
                        New page 1
                    </a>
                    <a ngbDropdownItem routerLink="simple-page-2" routerLinkActive="active">
                        New page 2
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
