/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
    min-height: 100%;
    height: auto;
    margin: 0;
}

.container-fluid {
    height: 100vh;
}

.onclick-card {
    cursor: pointer;
}

.pace-progress {
    height: 7px !important;
    color: #01bbf0;
  }
  
  .pace-activity {
    display: none !important;
    animation: none !important;
    -webkit-animation: none !important;
  }
  
  .pace .pace-progress-inner {
    box-shadow: none !important;
  }
